<%layout('layouts/boilerplate.ejs')%>
   
  <h3>Available Rooms</h3>
  <div class="home">
      <%data.map((value)=>{%>
        <div>
          <a href="/listings/<%=value._id%>" class="anchor">
            <div class="home-content">
                <img src="<%= value.image %>" class="" alt="...">
                <div class="h-info">
                  <span ><%=value.title%></span>
                  <span><b>Price: </b>&#8377; <%=value.price.toLocaleString('en-IN')%> /month</span>
                  <span><%=value.location%>, <%=value.country%></span>
                </div>
              </div>
          </a>
        </div>
      <%})%>
          
    </div>
  

   
   

